@model IEnumerable<DreamMaker.UI.ViewModels.RoomViewModel>

<div class="rooms">
    <ul>
        @foreach(var room in Model)
        {
            <li>
                <h3>
                    <a>@room.RoomName</a>
                </h3>
                <div class="room__members">
                    <h4>Room Members</h4>
                    <ul>
                        @foreach(var member in room.Members)
                        {
                            <li>
                                <a>@member.UserName</a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        }
    </ul>
</div>